name: Deploy to VPS

on:
    push:
        branches:
            - master

jobs:
    deploy-staging:
        runs-on: ubuntu-latest

        environment:
            name: staging

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4.2.1

            -   name: rsync deployments
                uses: burnett01/rsync-deployments@7.0.1
                with:
                    switches: -avzr --delete --exclude="vendor" --exclude="var" --exclude="bin" --exclude=".git"
                    path: /
                    remote_path: ${{ secrets.SERVER_DEPLOY_PATH }}
                    remote_host: ${{ secrets.SERVER_HOST }}
                    remote_port: ${{ secrets.SERVER_SSH_PORT }}
                    remote_user: ${{ secrets.SERVER_USER }}
                    remote_key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
                    remote_key_pass: ${{ secrets.SERVER_SSH_PASSPHRASE }}

            -   name: Composer update
                run: |
                    sshpass -p "${{ secrets.SERVER_SSH_PASSPHRASE }}" ssh -p ${{ secrets.SERVER_SSH_PORT }} -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "cd ${{ secrets.SERVER_DEPLOY_PATH }} && composer update"

            -   name: Run PHP Mess Detector (phpmd)
                run: |
                    sshpass -p "${{ secrets.SERVER_SSH_PASSPHRASE }}" ssh -p ${{ secrets.SERVER_SSH_PORT }} -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "export PATH=\$PATH:\$HOME/.config/composer/vendor/bin && cd ${{ secrets.SERVER_DEPLOY_PATH }} && phpmd src text cleancode,codesize,controversial,design"

    deploy-prod:
        needs: deploy-staging
        runs-on: ubuntu-latest
        if: success()

        environment:
            name: prod

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4.2.1

            -   name: rsync deployments
                uses: burnett01/rsync-deployments@7.0.1
                with:
                    switches: -avzr --delete --exclude="vendor" --exclude="var" --exclude="bin" --exclude=".git"
                    path: /
                    remote_path: ${{ secrets.SERVER_DEPLOY_PATH }}
                    remote_host: ${{ secrets.SERVER_HOST }}
                    remote_port: ${{ secrets.SERVER_SSH_PORT }}
                    remote_user: ${{ secrets.SERVER_USER }}
                    remote_key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
                    remote_key_pass: ${{ secrets.SERVER_SSH_PASSPHRASE }}

            -   name: Composer update
                run: |
                    sshpass -p "${{ secrets.SERVER_SSH_PASSPHRASE }}" ssh -i "${{ secrets.SERVER_SSH_PRIVATE_KEY }}" -p ${{ secrets.SERVER_SSH_PORT }} -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "cd ${{ secrets.SERVER_DEPLOY_PATH }} && composer update"
