name: Deploy Symfony 6 Project

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Set up SSH
                uses: webfactory/ssh-agent@v0.5.3
                with:
                    ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

            -   name: Copy files via SSH
                run: |
                    scp -r ./* shal@shal-tv.fr:/var/www/dev/sandbox

            -   name: Deploy Docker containers
                run: |
                    ssh shal@shal-tv.fr << 'EOF'
                    cd /var/www/dev/sandbox
                    docker-compose down
                    docker-compose up -d --build
                    EOF
