name: Deploy to VPS

on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest

        environment:
            name: staging

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4.2.1

            -   name: rsync deployments
                uses: burnett01/rsync-deployments@7.0.1
                with:
                    switches: -avzr --delete --exclude="vendor" --exclude="var" --exclude="bin" --exclude=".git"
                    path: /
                    remote_path: ${{ secrets.DEPLOY_PATH }}
                    remote_host: ${{ secrets.SERVER_HOST }}
                    remote_port: ${{ secrets.SSH_PORT }}
                    remote_user: ${{ secrets.SERVER_USER }}
                    remote_key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
                    remote_key_pass: ${{ secrets.SSH_PASSPHRASE }}

            -   name: Composer update
                run: |
                    sshpass -p "${{ secrets.SSH_PASSPHRASE }}" ssh -i "${{ secrets.SERVER_SSH_PRIVATE_KEY }}" -p ${{ secrets.SSH_PORT }} -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "cd ${{ secrets.DEPLOY_PATH }} && composer update"
